doctype html
html
    head
        title WEB ROCKET
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/app.css')
    body
        - if (undefined === session)
            include ../partial/menu/default
        - else
            include ../partial/menu/user
        .container(ng-app='application')
            block content
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
        script(src='/js/bootstrap.js')
        script(src='/js/app.js')