extends ../layout/layout

block content
    .page-header(ng-controller='LoginController as login')
        .alert.alert-danger(ng-if='login.errors.length > 0')
            p(ng-repeat='error in errors')
                = '{{error}}'
        .row.form-group
            .col-md-4.text-right
                label(for='login_field') Email or Login
            .col-md-4
                input.form-control(type='text', ng-model='login.user.email', id='login_field')
        .row.form-group
            .col-md-4.text-right
                label(for='password_field') Password
            .col-md-4
                input.form-control(type='password', ng-model='login.user.password', id='password_field')
        .row.form-group
            .col-md-offset-4.col-md-4
                button.btn.btn-default(ng-click='login.submitLogin()') Sign in