extends ../layout/layout

block content
    .page-header(ng-controller='RegisterController as register')
        div {{ register.v }}
        .alert.alert-danger(ng-if='register.errors.length > 0')
            p(ng-repeat='error in register.errors')
                = '{{error}}'
        .row.form-group
            .col-md-4.text-right
                label(for='login_field') Login
            .col-md-4
                input.form-control(type='text', ng-model='register.user.login', id='login_field')
        .row.form-group
            .col-md-4.text-right
                label(for='email_field') Email
            .col-md-4
                input.form-control(type='text', ng-model='register.user.email', id='email_field')
        .row.form-group
            .col-md-4.text-right
                label(for='password_field') Password
            .col-md-4
                input.form-control(type='password', ng-model='register.user.password', id='password_field')
        .row.form-group
            .col-md-offset-4.col-md-4
                button.btn.btn-default(ng-click='register.submitRegister()') Register