extends layout/layout

block content
    .jumbotron
        h2 Welcome to WEB Rocket
        p This is ready to use extend web application with Auth, Admin Panel, Store posts modules
        a.btn.btn-primary(href='/login') Login