nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') WEB ROCKET
        #navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
            ul.navbar-form.navbar-left
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/login') Login
                li
                    a(href='/register') Register